.div1{
    text-align: center;
    padding: 5mm 0 5mm 0;
}

body {
    text-align: center;
}

.one{
    font-size: 22pt;
    font-weight: bold;
    color: green;
}

.two{
    font-size: 12pt;
    font-weight: bold;
    color: red;
}



.two {
    font-size: 12pt;



}