.div1{
    text-align: center;
    padding: 10mm 0 15mm 0;
}

body {
    text-align: center;
}

.one {
    font-size: 22pt;
    font-weight: bold;
}

.two {
    font-size: 12pt;
}

.three {
    font-size: 14pt;
    font-weight: bold;


}

